*{
   margin:0%;
   padding:0%;
   box_sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
}
tr{
    text-align: center;
}
td{height: 100px;
    width: auto;
}
td:hover{
    background-color: blue;
}
